<h1>Chat</h1>
<p>To start a channel.... blah blah blah</p>
<br />
<br />
<h3>Join Chat:</h3>
<input type="text" id="chat-input" style="width: 250px; height: 30px; font-size: 20px;"><span style="margin-left: 50px; font-size: 20px;">Current Room: NONE</span>
<div id="chat-container"></div>
<div id="chat-message-container">
    <div id="send-button" style="float:left;background-color: rgba(0, 0, 255, 0.5);height:50px;border-top-left-radius: 15px;border-bottom-left-radius: 15px;width:7%;"><i class="fa fa-paper-plane-o fa-3x" aria-hidden="true"></i></div>
    <input type="text" id="chat-input" style="float:right; width: 92%; height: 50px; border: none;margin-right:1%;border-top-right-radius: 15px; border-bottom-right-radius: 15px; font-size: 20px;">
</div>