<h1>Chat</h1>
<p>To start a channel.... blah blah blah</p>
<br />
<br />
<h3>Join Chat:</h3>
<input type="text" id="room-input" style="width: 250px; height: 30px; font-size: 20px;"><span id="current-room" style="margin-left: 50px; font-size: 20px;">Current Room: NONE</span>
<br />
<button id="join-button" onclick="joinChatOnClick();">JOIN</button>
<div id="chat-container"></div>
<div id="chat-message-container">
    <div id="send-button"><i class="fa fa-paper-plane-o fa-3x" aria-hidden="true"></i></div>
    <input type="text" id="chat-input">
</div>

<script>
    $(function () {
        // console.log("Chat read!");
        socket.emit('request my room');
    });
</script>
